* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html, body {
    height: 97%;
}

/* HOME START */

.home-container {
    background-color: rgb(230, 230, 230);
    padding: 0;
}

.left-side-text-container {
    width: 50%;
}

.left-side-container, .right-side-container {
    width: 50%;
    height: 100%;
    /* border: 1px solid black; */
}

.get-started-btn, .learn-more-btn {
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

/* Home END */


/* CAROUSEL STYLE START */
.carousel-image {
    height: 450px;
}

.carousel-caption h4 {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.welcome-msg {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
}

.captions-msg {
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    color: #fff;
}

.carousel-container {
    width: 100%;
}

.right-side-container {
    padding: 0 80px;
}

/* CAROUSEL STYLE END */

/* NECK STYLE START */
.neck-container {
    height: 418px;
    width: 100%;
    
}

.neck-item-container {
    height: 250px;
    width: 250px;
    /* padding: 10px 18px; */
}

.neck-title {
    height: 15%;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

.neck-logo {
    height: 35%;
}

.neck-caption {
    height: 50%;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
}

.book-cartoon, .customer-service {
    display: block;
    margin: 0 auto;
    height: 80%;
}

/* NECK STYLE END */


/* ABOUT-US STYLE START */

.about-us-container {
    height: 500px;
    font-family: 'Poppins', sans-serif;
    justify-content: space-around;
}

.about-us-right-container {
    height: 100%;
    width: 35%;
}

.about-us-left-container {
    height: 100%;
    width: 35%;
    flex-direction: column; 
    justify-content: center; 
}

.about-us-title {
    font-weight: 700;
    text-transform: uppercase;
}

.about-us-captions, .about-us-subcaptions {
    font-weight: 200;
}

.reading-img {
    height: 75%;
}

.video-player {
    width: 75%;
    height: 50%;
}

/* ABOUT-US STYLE END */

/* CSS MEDIA QUERY */
/* Lebar Handphone Minimum : 336px */

@media screen and (max-width: 480px) {
    .carousel-image {
        height: 350px;
    }
}

@media screen and (max-width: 576px) {
    .right-side-container {
        width: 40%;
    }

    .about-us-left-container {
        text-align: center;
        height: 60%;
    }

    .about-us-right-container {
        height: 40%;
    }

    .about-us-container {
        flex-direction: column-reverse;
        height: 750px;
    }
}

@media screen and (max-width: 768px) {
    .home-container {
        flex-direction: column-reverse;
    }

    .left-side-container, .right-side-container {
        width: 100%;
    }

    .left-side-container {
        text-align: center;
    }

    .neck-container {
        height: 1000px;
        width: 100%;
        flex-direction: column;
    }
}

@media screen and (max-width: 992px) {
    .right-side-container {
        padding: 0 0;
    }

    .about-us-container {
        flex-direction: column-reverse;
    }

    .about-us-left-container, .about-us-right-container {
        width: 100%;
        padding: 0;
    }

    .about-us-right-container {
        height: 30%;
    }
    
    .about-us-left-container {
        height: 70%;
        text-align: center;
    }

    .video-player {
        height: 95%;
    }
}

@media screen and (max-width: 1200px) {
    .left-side-text-container {
        width: 75%;
    }
}

@media screen and (min-width: 360px) {
    .about-us-left-container {
        padding: 0 30px;
    }
}

@media screen and (min-width: 576px) {
    .about-us-left-container {
        padding: 0 70px;
    }
}

@media screen and (min-width: 768px) {
    .about-us-left-container {
        padding: 0 100px;
    }
}

@media screen and (min-width: 992px) {
    .about-us-left-container {
        padding: 0 0;
    }

    .about-us-container {
        justify-content: center;
    }
}